body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#url {
  width: 500px;
}

#copy {
  vertical-align: top;
}

#paste {
  margin-left: 5px;
}

.ui.checkbox {
  margin: 10px 0;
}

.ui.checkbox label {
  cursor: pointer;
}